@model IEnumerable<IPGTrails4Health.Models.TipoAlojamento>

@{
    ViewData["Title"] = "Index";
}
</br>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Criar novo tipo de Alojamento</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoAlojamentoId" class="btn btn-outline-info">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.TipoAlojamentoId" class="btn btn-outline-warning">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.TipoAlojamentoId" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
