@model IEnumerable<IPGTrails4Health.Models.EstadoTrilho>

@{
    ViewData["Title"] = "Alterar estados";
}
<br/>
<h2>Estados</h2>
<br/>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Alterar estado de um trilho</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trilho.Nome) do Trilho
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            Data de Início do Estado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Causa)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trilho.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Causa)
        </td>

        <td>
            @*<a asp-action="Edit" asp-route-id="@item.EstadoTrilhoId" class="btn btn-outline-warning">Editar</a>*@
            <a asp-action="Details" asp-route-id="@item.EstadoTrilhoId" class="btn btn-outline-info">Detalhes</a>
            @*<a asp-action="Delete" asp-route-id="@item.EstadoTrilhoId" class="btn btn-outline-danger">Eliminar</a>*@
        </td>
    </tr>
}
    </tbody>
</table>
