@model IPGTrails4Health.Models.Restaurante

@{
    ViewData["Title"] = "Eliminar ponto de interesse";
}

<br />
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Atenção!</h4>
    <p class="mb-0">Deseja mesmo eliminar o restaurante?</p>
</div>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidade.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RestauranteId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
    </form>
</div>
