@model IPGTrails4Health.Models.Restaurante

@{
    ViewData["Title"] = "Detalhes do Restaurante";
}

<h2>Detalhes do Restaurante</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestauranteId">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
