@model IPGTrails4Health.Models.AreaDescanso

@{
    ViewData["Title"] = "Eliminar";
}

<br />
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Atenção!</h4>
    <p class="mb-0">Deseja mesmo eliminar a Área de Descanso?</p>
</div>
<div>
    <h4>Área de Descanso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AreaDescansoId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
    </form>
</div>
