@model IEnumerable<IPGTrails4Health.Models.AreaDescanso>

@{
    ViewData["Title"] = "Index";
}

<h2>Página de gestão de Áreas de Descanso</h2>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AreaDescansoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AreaDescansoId">Todos os detalhes</a> |
                <a  asp-action="Delete" asp-route-id="@item.AreaDescansoId" class="text-warning">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
