@model IEnumerable<IPGTrails4Health.Models.Alojamento>

@{
    ViewData["Title"] = "Alojamentos";
}

<br />
<h2>Alojamentos</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Adicionar novo Alojamento</a>
</p>

<br />
<table class="table">
    <thead>
    <tr>
        <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAlojamento)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade.LocalidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAlojamento.TipoAlojamentoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlojamentoId" class="btn btn-outline-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlojamentoId" class="btn btn-outline-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AlojamentoId" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
