@model IPGTrails4Health.Models.AreaDescansoTrilho

@{
    ViewData["Title"] = "Desassociar areadescanso/trilho";
}

<br />
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Atenção!</h4>
    <p class="mb-0">Deseja mesmo desassociar a área de descanso do trilho?</p>
</div>
<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.AreaDescansoTrilhoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaDescansoTrilhoId)
        </dd>*@
        <dt>
            Área de Descanso
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaDescanso.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trilho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trilho.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrilhoId" />
        <input type="hidden" asp-for="AreaDescansoId" />
        <input type="submit" value="Desassociar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
    </form>
</div>
