@model IPGTrails4Health.Models.AreaDescansoTrilho

@{
    ViewData["Title"] = "Detalhes de areasdescanso/trilho";
}
<br/>
<h2>Detalhes de área de descanso associada a um trilho</h2>
<br/>
<div>

    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.AreaDescansoTrilhoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaDescansoTrilhoId)
        </dd>*@
        <dt>
            Área de Descanso
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaDescanso.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trilho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trilho.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AreaDescansoTrilhoId" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
</div>
