@model IPGTrails4Health.Models.RestauranteTrilho

@{
    ViewData["Title"] = "Detalhes de restaurante/trilho";
}
<br/>
<h2>Detalhes de restaurante associado a um trilho</h2>
<br/>
<div>

    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.RestauranteTrilhoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestauranteTrilhoId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Restaurante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurante.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trilho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trilho.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestauranteTrilhoId" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
</div>
