@model IPGTrails4Health.Models.Trilho

@{
    ViewData["Title"] = "Delete";
}
</p>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Atenção!</h4>
    <p class="mb-0">Deseja mesmo desativar o Trilho?</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chegada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distancia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EpocaAno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EpocaAno.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrilhoId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">Lista de Trilhos</a>
    </form>
</div>
