@model IPGTrails4Health.Models.Trilho

@{
    ViewData["Title"] = "Delete";
}

<h2>Desativar Trilho</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chegada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distancia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificuldade.DificuldadeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EpocaAno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EpocaAno.EpocaAnoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrilhoId" />
        <input type="submit" value="Desativar" class="btn-outline-danger" /> |
        <a asp-action="Index">Lista de Trilhos</a>
    </form>
</div>
