@model IEnumerable<IPGTrails4Health.Models.Trilho>

@{
    ViewData["Title"] = "Trilhos";
}
<br/>
<h2>Trilhos</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Criar Novo Trilho</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Partida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chegada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distancia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracao)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Dificuldade)
            </th>
            <th>
                Época do Ano
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distancia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dificuldade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpocaAno.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrilhoId" class="btn btn-outline-info">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.TrilhoId" class="btn btn-outline-warning">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.TrilhoId" class="btn btn-outline-danger">Desativar</a>
            </td>
        </tr>
}
    </tbody>
</table>
