@model IEnumerable<IPGTrails4Health.Models.PontoInteresse>

@{
    ViewData["Title"] = "Index";
}

<h2>Página de gestão de Pontos de Interesse</h2>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPontoInteresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sazonalidade)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Observacoes)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPontoInteresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sazonalidade)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.PontoInteresseId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PontoInteresseId">Todos os detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PontoInteresseId" class="text-warning">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
