@model IPGTrails4Health.Models.AlojamentoTrilho

@{
    ViewData["Title"] = "Detalhes de alojamento/trilho";
}

<h2>Detalhes de alojamento associado a um trilho</h2>

<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.AlojamentoTrilhoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlojamentoTrilhoId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Alojamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alojamento.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trilho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trilho.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlojamentoTrilhoId" class="btn btn-outline-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
</div>
